{% extends "base.html" %} {% block body %}
<section class="intro">
  <h1 class="section__title section__title--intro">
    <strong>Popsi Colada</strong>
  </h1>
  <img
    src="{{ url_for('static',filename='img/projects/popsi-colada.png')}}"
    alt=""
    class="intro__img square"
  />
</section>

<div class="portfolio-item-individual">
  <b>Inspiration</b>
  <p>
    So when I did my devops course at IITC the class had 2 projects to practice
    OOP (object-oriented programming): a storehouse manager of CD's, and
    supermarkets- simulator where you can demonstrate the relationship between
    markets and food items.
  </p>
  <p>
    So that gave me idea for my next project: to implement similar apps on the
    web and combine them together. I ended up adding more features than the
    asignments we recieved originally.
  </p>
  <b>Features</b>
  <p>
    Browsing markets lets you "buy" (there is no real money transfer system in
    place) from the foods that particular market is offering.
  </p>
  <p>
    Browsing foods lets you see in which markets that food item is available in,
    as well as view some additional info such as nutritional value of the food.
  </p>
  <p>
    In addition there is the collection of CD's where you can create, update,
    delete, view your collection of CD's as well as search for a particular CD
    from your list.
  </p>
  <img
    src="{{ url_for('static',filename='img/projects/popsi-colada-browse.png')}}"
    class="square"
  />
  <strong>What I learned</strong>
  <p>
    In this project I dived more deeply into Django, designing the REST api to
    support all the different querries I would have to do about the markets,
    foods and CD's, using models and modelViews.
  </p>
  <p></p>
  <a href="https://popsi-colada.herokuapp.com/browse" target="_blank"
    >Link to app <i class="fas fa-external-link-alt"></i
  ></a>
</div>
{% endblock %}
