<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link />
    <meta charset="utf-8" />
    <title>Liel BenOr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Liel Ben-Or full-stack developer" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
      crossorigin="anonymous"
    />

    <!-- Custom font -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alef&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alef&family=Cousine&display=swap"
      rel="stylesheet"
    />
    <!-- My Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
  </head>
  <body>
    <header class="nav-header">
      <div class="logo">
        <a href="{{url_for('main', _anchor='home')}}"
          ><img src="{{url_for('static', filename='img/icon192.png')}}" alt=""
        /></a>
      </div>

      <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="{{url_for('main', _anchor='home')}}" class="nav__link"
              >Home</a
            >
          </li>
          <li class="nav__item">
            <a href="{{url_for('main', _anchor='services')}}" class="nav__link"
              >My skills</a
            >
          </li>
          <li class="nav__item">
            <a href="{{url_for('main', _anchor='about-me')}}" class="nav__link"
              >About me</a
            >
          </li>
          <li class="nav__item">
            <a href="{{url_for('main', _anchor='work')}}" class="nav__link"
              >My projects</a
            >
          </li>
          <li class="nav__item">
            <a href="{{url_for('main', _anchor='resume')}}" class="nav__link"
              >My resume</a
            >
          </li>
        </ul>
      </nav>
    </header>

    {% block body %} {% endblock %}

    <!-- Footer -->
    <footer class="footer">
      <a href="mailto:liel4349@gmail.com" class="footer__link"
        ><i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</a
      >
      <ul class="social-list">
        <li class="social-list__link">
          <a href="https://github.com/lebnor"
            ><i class="fab fa-github"> github</i></a
          >
        </li>

        <li class="social-list__link">
          <a href="https://www.linkedin.com/in/liel-ben-or-145b64189/"
            ><i class="fab fa-linkedin-in"> linked-in</i></a
          >
        </li>
      </ul>

      <p class="repository-text">
        See the source code for this site in
        <a
          href="https://github.com/Lebnor/Liel-BenOr.github.io"
          target="_blank"
        >
          <span class="repository-link">
            github <i class="fas fa-external-link-alt"> </i>
          </span>
        </a>
      </p>
    </footer>

    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
  </body>
</html>
